   <table class="table table-hover">
    <tr>
        <td width="70px">
<!--            Ссылка на картинку и на имя поста-->
            <a href="{{ url_for('user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(60) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>

            {% if post.author.gender=='M'%}
                {{ _('написал') }}
            {% else%}
                {{ _('написала') }}
            {% endif %}
            <i> {{ moment(post.timestamp).fromNow() }} </i>
            :
            <br>

            <span id="post_{{post.id}}">{{post.body}}</span>
            <br>
            <!--Создается переменная id, куда передается translation(post.id)-->
            <!--После чего производится вызов JS функции translate()-->
            {% if post.language and post.language != g.locale %}
            <span id="translation{{post.id}}">
                <a href="javascript: translate(
                '#post_{{ post.id }}',
                '#translation{{ post.id }}',
                '{{ post.language_ }}',
                '{{ g.locale }}')">{{_('Перевести')}}</a></span>
            {% endif %}
        </td>
    </tr>
</table>