{% extends "base.html" %}

{% block app_content %}
    <table class="table-table-hover">
        <tr valign="top">
            <td><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>{{ _('Пользователь:') }} {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                    <p>
                        {% if user.gender == 'M' %}
                            {{ _('был в сети') }}:
                        {% else %}
                            {{ _('была в сети') }}:
                        {% endif %}
                        {{ moment(user.last_seen).format('L') }}
                        (
                        {{ moment(user.last_seen).fromNow() }}
                        )
                    </p>
                {% endif %}
<!--                Исправить также все остальные-->
                <p> {{ _('Подписчики: %(count)d', count=user.followers.count()) }} {{ _('Подписки') }}: {{ user.following.count() }} </p>
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">{{ _('Редактировать профиль') }}</a></p>
<!--                <p>-->
                {% elif not current_user.is_following(user) %} <!--Если не подписан-->
                    <form action="{{ url_for('follow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit() }}
                    </form>
                {% else %} <!--Если подписан-->
                    <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value=_('Отписаться')) }}
                    </form>
                {% endif %}
<!--                </p>-->
            </td>
        </tr>
    </table>
    <br>
{% for post in posts %}
    {% include '_post.html' %}
{% endfor %}
<nav aria-label="...">
    <ul class="pager">
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                   {{ _('Старые посты') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Новые посты') }}
            </a>
        </li>
    </ul>
</nav>

{% endblock %}